<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>welcome to srh html page</h1>
        <h1> HARRY BROOK </h1>
    
        <p>
             Harry Cherrington Brook is an English international cricketer who plays international cricket for England and domestic cricket for Yorkshire County Cricket Club. Primarily a right-handed batsman, he also bowls right-arm medium pace. He made his international debut for England in January 2022.</p>
        <a href="{% url 'mi:rohit' %}">go to rohit html page</a>
    </center>
    
</body>
</html>